@model LoginViewModel
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity
@using SanMarinoClassicWebsite.Auth
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Borrow - is the loan company, Business Website Template.">
    <meta name="keywords" content="Financial Website Template, Bootstrap Template, Loan Product, Personal Loan">
    <title>San Marino Classic Homeowners Website</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstraps.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/fontello.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- owl Carousel Css -->
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">

</head>
<body>

    <div class="slider" id="slider">
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Account" asp-action="Login" class="login100-form validate-form">
                    <input type="hidden" asp-for="ReturnUrl" />


                    <div class="wrap-input100 rs2-wrap-input100">
                        <input asp-for="UserName" id="first-name" class="input100" placeholder="UserName">

                    </div>
                    <div class="wrap-input100 rs2-wrap-input100">
                        <input asp-for="Password" class="input100" type="password" placeholder="Password">

                    </div>

                    <div class="container-login100-form-btn">

                        <input type="submit" class="login100-form-btn" value="Log in" />

                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="container-login100-form-btn">

                                <a class="login100-form-btns" asp-action="GoogleLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                    <i class="fa fa-google-plus">&nbsp;</i> <p id="keme">Sign in with Google</p>
                                </a>
                            </div>
                          

                            @*<form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                            }
                        </p>
                    </div>
                </form>*@
                        }
                    }

                </form>
                <div class="signuphere text-center">
                    Not registered? <a asp-action="Register" asp-controller="Account" style="color: skyblue;">Create an account</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="slider-img"><img src="~/Images/sideLogin.png" class=""></div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/SignIn/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/SignIn/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/SignIn/vendor/bootstrap/js/popper.js"></script>
    <script src="~/SignIn/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/SignIn/vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/SignIn/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/SignIn/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/SignIn/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/SignIn/js/main.js"></script>

</body>
</html>